.speech{
    font-family: 'Times New Roman', Times, serif, Helvetica;
    font-size: 16px;
    color : black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
    background-color: silver;
    font-style: italic;
}

.direction:hover{
    background-color: yellow;
    color: black;
}
.odysseus {
    color: blueviolet;
}

.philoctetes {
    color: blue;
}

.table {
    
    width: 100%;
    font-family: 'Times New Roman', Times, serif, Helvetica;
    background-color: black;
    margin: 20px;
    padding: 5px;
}

.thead {
    
    background-color: rgb(235, 200, 135);
    color: white;
    text-align: left;
    border: 1px black;
    
}

.tbody{
    padding-left: 3px;
    background-color: lightgray;
}
.oed {
    color: crimson;
}

.ant {
    color: orange;
}



